--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://pytorch-geometric.com/whl/torch-1.7.0+cu101.html
torch==1.7.0+cu101
torchvision==0.8.1+cu101
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
scikit-learn
skorch
tqdm